.main-top {
    background: #1f2d3d;
    color: #ffffff;
    padding: 1rem 0 2rem;
    gap: 1rem;
    text-align: center;
    justify-content: center;
}

.main-top>p,
.main-top>h1,
.main-top>h2 {
    color: #ffffff !important;
    z-index: 20;
    position: relative;
}

.main-top,
.main-top * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.main-top > h1{
    margin-bottom: 2rem;
}
.main-top > div{
    margin-bottom: 1rem;
}

.inner-main>.site-header {
    position: unset !important;
    transform: translateY(0);
    display: block;
    z-index: 200;
}


.site-header {
    position: fixed !important;
    width: 100%;
    left: 0;
    top: 0;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.3s;
    transform: translateY(-100%);
    z-index: 100;
}

.site-header.sticky {
    transform: translateY(0);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}


@keyframes autoRun3d {
  from { transform: perspective(800px) rotateY(-360deg); }
  to   { transform: perspective(800px) rotateY(   0deg); }
}

.card-3d {
  position: relative;
  height: 6rem;
  transform-style: preserve-3d;
  transform: perspective(800px);
  animation: autoRun3d 20s linear infinite;
  will-change: transform;
  --card-radius: 250px; /* bump this up for wider spread */
}

.card-3d img {
  position: absolute;
  width: 4rem; height:4.5rempx;
  top:50%; left:50%;
  border:2px solid var(--elevated);
  border-radius:.5rem;
  background:var(--elevated);
  transform-origin:center center;
  transform: translate(-50%,-50%)
             rotateY(var(--card-angle))
             translateZ(var(--card-radius));
  /* each child sets its own animation-delay */
}

/* .card-3d:hover, */
.card-3d:hover img {
  animation-play-state: paused !important;
}

.whatcanido--card {
    padding: 1rem 2rem;
    border-radius: 1.25rem;
    justify-items: center;
}

.whatcanido h2{
    font-weight: 500 !important;
}
.whatcanido--loader {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
}


.whatcanido--words {
    overflow: hidden;
    position: relative;
    aspect-ratio: 1/1;
}

.whatcanido--words::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(var(--bg-color) 10%,
            transparent 30%,
            transparent 70%,
            var(--bg-color) 90%);
    z-index: 20;
}

.whatcanido--words>img {
    display: block;
    height: 100%;
    padding-left: 6px;
    color: #956afa;
    animation: spin-bounce 28s infinite;
} */