.main-top {
    background: #1f2d3d;
    color: #ffffff;
    padding: 4rem 0;
    text-align: center;
    justify-content: center;
}

.main-top>p,
.main-top>h1,
.main-top>h2 {
    color: #ffffff !important;
    z-index: 20;
    position: relative;
}

.main-top,
.main-top * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.main-top > h1{
    margin-bottom: 2rem;
}
.main-top > div{
    margin-bottom: 1rem;
}


@keyframes autoRun3d {
  from { transform: perspective(800px) rotateY(-360deg); }
  to   { transform: perspective(800px) rotateY(   0deg); }
}

.card-3d {
  position: relative;
  height: 6rem;
  transform-style: preserve-3d;
  transform: perspective(800px);
  animation: autoRun3d 20s linear infinite;
  will-change: transform;
  --card-radius: 250px; /* bump this up for wider spread */
}

.card-3d img {
  position: absolute;
  width: 4rem; height:4.5rempx;
  top:50%; left:50%;
  border:2px solid var(--smoke);
  border-radius:.5rem;
  background:var(--snow);
  transform-origin:center center;
  transform: translate(-50%,-50%)
             rotateY(var(--card-angle))
             translateZ(var(--card-radius));
  /* each child sets its own animation-delay */
}

/* .card-3d:hover, */
.card-3d:hover img {
  animation-play-state: paused !important;
}


/* make the cursor bar */
.cursor {
  display: inline-block;
  background-color: currentColor; /* same color as your text */
  width: 2px;
  margin-left: 2px;
  animation: blink 0.7s steps(1) infinite;
  vertical-align: bottom;
  height: 1em;               /* adjust to match your font-size */
}

/* blink keyframes */
@keyframes blink {
  0%, 50% { opacity: 1; }
  50.01%, 100% { opacity: 0; }
}
