/* separator */
.separator {
    margin: 2rem auto;
}
.separator:empty::before {
    content: "\00a0";
    display: block;
}

.middle{
  margin: auto;
}

.split{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.split > div{
    flex: 1;
    padding: 2rem;
    
}


@media screen and (max-width: 800px) {
    .split {
        flex-direction: column;
        gap: 0;
    }
    .split > div {
        padding: 1rem;
    }
}