html {
    scroll-behavior: smooth;
}

/* separator */
.separator {
    margin: 2rem auto;
}
.separator:empty::before {
    content: "\00a0";
    display: block;
}

.middle{
  margin: auto;
}

.split{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.split > div{
    flex: 1;
}

.img-cropped {
    width: 320px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

@media screen and (max-width: 800px) {
    .split {
        flex-direction: column;
        gap: 0;
    }
    .split > div {
        padding: 1rem;
    }
}